.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-duration) var(--transition-function);
    width:93%;
    height: 73%;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and(min-width: 768px) {
            width: 450px;
            height: 609px;
        }

    &__btn--close {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 110;
        width: 30px;
        height: 30px;
        right: 8px;
        top: 8px;
        padding: 1px;
        border-radius: 15px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);

        &:hover {
            cursor: pointer;
        }
    }

    &__btn-icon--close {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1px;
        padding-top: 2px;
    }
}


@media screen and(min-width: 1200px) {
    .modal {
            display: flex;
         
            position: absolute;
          
            width: 528px;
            height: 581px;
    }
}